<div class="container-fluid">
  <nav class="navbar navbar-light bg-primary">
    <div class="container-fluid">
      <h1 style="color: white">Smartphones</h1>
      <div class="d-flex">
        <button
          type="button"
          data-bs-toggle="modal"
          data-bs-target="#exampleModal"
          class="btn btn-success"
          (click)="clear()"
        >
          Add Product
        </button>
      </div>
    </div>
  </nav>

  <div class="table-responsive-sm">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Category</th>
          <th scope="col">Brand</th>
          <th scope="col">Vendor</th>
          <th scope="col">Product Name</th>
          <th scope="col">Price</th>
          <th scope="col">Color</th>
          <th scope="col">RAM</th>
          <th scope="col">Storage</th>
          <th scope="col">Resolution</th>
          <th scope="col">Operating System</th>
          <th scope="col">Camera</th>
          <th scope="col">Dimensions</th>
          <th scope="col">Image</th>
          <th scope="col">Action</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let row of products">
          <td>{{ row.id }}</td>
          <td>{{ row.category }}</td>
          <td>{{ row.brand }}</td>
          <td>{{ row.vendor }}</td>
          <td>{{ row.productname }}</td>
          <td>{{ row.price | currency : "INR" }}</td>
          <td>{{ row.color }}</td>
          <td>{{ row.RAM }} GB</td>
          <td>{{ row.storage }} GB</td>
          <td>{{ row.resolution }}</td>
          <td>{{ row.os }}</td>
          <td>{{ row.camera }} mpx</td>
          <td>
            {{ row.dimension.l }}mm<br />
            {{ row.dimension.b }}mm <br />
            {{ row.dimension.w }}mm
          </td>
          <td>
            <img src="{{ row.image }}" style="height: 50px; width: 35px" />
          </td>
          <td width="200px">
            <button
              style="color: aliceblue"
              type="button"
              class="btn btn-info"
              data-bs-toggle="modal"
              data-bs-target="#changeModal"
              (click)="updateProduct(row)"
              value="Update"
            >
              Update
            </button>
            <button
              type="button"
              class="btn btn-danger mx-3"
              (click)="deleteProduct(row)"
            >
              Delete
            </button>
          </td>
          <!-- <button  (click)="onEdit(row)" style="color:aliceblue;"  type="button" data-bs-toggle="modal" data-bs-target="#exampleModal"class= "btn btn-info">Edit</button>  -->
          <!-- <button type="button" (click) = "deleteDiscount(row)" class="btn btn-danger mx-3">Delete</button> -->
        </tr>
      </tbody>
    </table>
  </div>

  <div
    class="modal fade"
    id="exampleModal"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Products</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <form action="" #productform="ngForm" class="row g-3">
            <div class="col-md-4">
              <label class="form-label" for="category">Category</label>
              <div class="input-group input-group-m mb-6">
                <select
                  class="form-select"
                  name="category"
                  [(ngModel)]="newProduct.categoryid"
                >
                  <option value="0">--Select Category--</option>
                  <option
                    *ngFor="let category of categories"
                    [value]="category.id"
                  >
                    {{ category.name }}
                  </option>
                </select>
              </div>
            </div>

            <div class="col-md-4">
              <label class="form-label" for="brand">Brand</label>
              <div class="input-group input-group-m mb-6">
                <select
                  class="form-select"
                  name="brand"
                  [(ngModel)]="newProduct.brandid"
                >
                  <option value="0">--Select Brand--</option>
                  <option *ngFor="let brand of brands" [value]="brand.id">
                    {{ brand.name }}
                  </option>
                </select>
              </div>
            </div>

            <div class="col-md-4">
              <label class="form-label" for="vendor">Vendor</label>
              <div class="input-group input-group-m mb-6">
                <select
                  class="form-select"
                  name="vendor"
                  [(ngModel)]="newProduct.vendorid"
                >
                  <option value="0">--Select Brand--</option>
                  <option *ngFor="let vendor of vendors" [value]="vendor.id">
                    {{ vendor.name }}
                  </option>
                </select>
              </div>
            </div>

            <div class="col-md-12">
              <label class="form-label" for="ProductName">Product Name</label>
              <input
                type="text"
                id="productname"
                name="productname"
                class="form-control"
                required
                minlength="4"
                [(ngModel)]="newProduct.productname"
              />
            </div>

            <div class="col-md-6">
              <label class="form-label" for="color">Color</label>
              <input
                type="text"
                id="color"
                name="color"
                class="form-control"
                [(ngModel)]="newProduct.color"
              />
            </div>

            <div class="col-md-6">
              <label class="form-label" for="os">O.S.</label>
              <input
                type="text"
                id="os"
                name="os"
                class="form-control"
                [(ngModel)]="newProduct.os"
              />
            </div>

            <div class="col-md-3">
              <label class="form-label" for="price">Price</label>
              <input
                type="number"
                id="price"
                name="price"
                class="form-control"
                [(ngModel)]="newProduct.price"
              />
            </div>

            <div class="col-md-3">
              <label class="form-label" for="ram">RAM</label>
              <input
                type="number"
                id="ram"
                name="ram"
                class="form-control"
                [(ngModel)]="newProduct.RAM"
              />
            </div>

            <div class="col-md-3">
              <label class="form-label" for="storage">Storage</label>
              <input
                type="number"
                id="storage"
                name="storage"
                class="form-control"
                [(ngModel)]="newProduct.storage"
              />
            </div>

            <div class="col-md-3">
              <label class="form-label" for="camera">Camera</label>
              <input
                type="number"
                id="camera"
                name="camera"
                class="form-control"
                [(ngModel)]="newProduct.camera"
              />
            </div>

            <div class="col-md-8">
              <label class="form-label" for="length">Dimensions</label>
              <div class="input-group">
                <input
                  type="number"
                  id="length"
                  name="length"
                  class="form-control"
                  placeholder="length"
                  [(ngModel)]="dimension.l"
                />
                <input
                  type="number"
                  id="breadth"
                  name="breadth"
                  class="form-control"
                  placeholder="breadth"
                  [(ngModel)]="dimension.b"
                />
                <input
                  type="number"
                  id="width"
                  name="width"
                  class="form-control"
                  placeholder="width"
                  [(ngModel)]="dimension.w"
                />
              </div>
            </div>

            <div class="col-md-4">
              <label class="form-label" for="resolution">Resolution</label>
              <input
                type="text"
                id="resolution"
                name="resolution"
                class="form-control"
                [(ngModel)]="newProduct.resolution"
              />
            </div>

            <div class="form-outline">
              <label class="form-label" for="productImg">Product Image</label>
              <input
                type="text"
                id="productImg"
                name="productImg"
                class="form-control"
                [(ngModel)]="newProduct.image"
              />
            </div>
            <div class="modal-footer">
              <input type="reset" class="btn btn-secondary" value="Reset" />
              <button
                type="button"
                (click)="addNewProduct()"
                class="btn btn-primary"
              >
                Add
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="changeModal"
  tabindex="-1"
  aria-labelledby="changeModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="changeModalLabel">Edit Product</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form action="" #productform="ngForm" class="row g-3">
          <div class="col-md-4">
            <label class="form-label" for="category">Category</label>
            {{ newProduct.category }}
          </div>

          <div class="col-md-4">
            <label class="form-label" for="brand">Brand</label>
            {{ newProduct.brand }}
          </div>

          <div class="col-md-4">
            <label class="form-label" for="vendor">Vendor</label>
            {{ newProduct.vendor }}
          </div>

          <div class="col-md-12">
            <label class="form-label" for="ProductName">Product Name</label>
            <input
              type="text"
              id="productName"
              name="productname"
              class="form-control"
              [(ngModel)]="newProduct.productname"
            />
          </div>

          <div class="col-md-6">
            <label class="form-label" for="color">Color</label>
            <input
              type="text"
              id="color"
              name="color"
              class="form-control"
              [(ngModel)]="newProduct.color"
            />
          </div>

          <div class="col-md-6">
            <label class="form-label" for="os">O.S.</label>
            <input
              type="text"
              id="os"
              name="os"
              class="form-control"
              [(ngModel)]="newProduct.os"
            />
          </div>

          <div class="col-md-3">
            <label class="form-label" for="price">Price</label>
            <input
              type="number"
              id="price"
              name="price"
              class="form-control"
              [(ngModel)]="newProduct.price"
            />
          </div>

          <div class="col-md-3">
            <label class="form-label" for="ram">RAM</label>
            <input
              type="number"
              id="ram"
              name="ram"
              class="form-control"
              [(ngModel)]="newProduct.RAM"
            />
          </div>

          <div class="col-md-3">
            <label class="form-label" for="storage">Storage</label>
            <input
              type="number"
              id="storage"
              name="storage"
              class="form-control"
              [(ngModel)]="newProduct.storage"
            />
          </div>

          <div class="col-md-3">
            <label class="form-label" for="camera">Camera</label>
            <input
              type="number"
              id="camera"
              name="camera"
              class="form-control"
              [(ngModel)]="newProduct.camera"
            />
          </div>

          <div class="col-md-8">
            <label class="form-label" for="length">Dimensions</label>
            <div class="input-group">
              <input
                type="number"
                id="length"
                name="length"
                class="form-control"
                placeholder="length"
                [(ngModel)]="dimension.l"
              />
              <input
                type="number"
                id="breadth"
                name="breadth"
                class="form-control"
                placeholder="breadth"
                [(ngModel)]="dimension.b"
              />
              <input
                type="number"
                id="width"
                name="width"
                class="form-control"
                placeholder="width"
                [(ngModel)]="dimension.w"
              />
            </div>
          </div>

          <div class="col-md-4">
            <label class="form-label" for="resolution">Resolution</label>
            <input
              type="text"
              id="resolution"
              name="resolution"
              class="form-control"
              [(ngModel)]="newProduct.resolution"
            />
          </div>

          <div class="form-outline">
            <label class="form-label" for="productImg">Product Image</label>
            <input
              type="text"
              id="productImg"
              name="productImg"
              class="form-control"
              [(ngModel)]="newProduct.image"
            />
          </div>
          <div class="modal-footer">
            <input type="reset" class="btn btn-secondary" value="Reset" />
            <button
              type="button"
              (click)="updateThisProduct()"
              class="btn btn-primary"
            >
              Add
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
