<br />
<br />
<div class="container">
  <h1>Admin Dashboard</h1>
  <br />
  <br />
  <div class="row">
    <div class="col-md-3">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">User Count</h5>
          <p class="card-text">{{ userCount }}</p>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <a class="nav-link" [routerLink]="['/admin/products']">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Product Count</h5>
            <p class="card-text">{{ productCount }}</p>
          </div>
        </div>
      </a>
    </div>

    <div class="col-md-3">
      <a class="nav-link" [routerLink]="['/admin/vendors']">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Vendor Count</h5>
            <p class="card-text">{{ vendorCount }}</p>
          </div>
        </div>
      </a>
    </div>

    <div class="col-md-3">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Brand Count</h5>
          <p class="card-text">{{ brandCount }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
