<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
/>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Ecommerce Mobile</a>

  <form>
    <div class="input-group input-group-sm" style="width: 500px">
      <input
        name="search"
        id="search"
        type="text"
        class="form-control"
        placeholder="Search"
        [(ngModel)]="searchedKeyword"
      />
      <span class="input-group-text">
        <button
          class="link"
          style="border: 0"
          [routerLink]="['/product/search/', searchedKeyword]"
        >
          <i class="fa-solid fa-magnifying-glass"></i>
        </button>
      </span>
    </div>
  </form>
  <button
    class="navbar-toggler"
    type="button"
    data-bs-toggle="collapse"
    data-bs-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
      <li></li>

      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/home']">Home</a>
      </li>

      <li class="nav-item dropdown px-3">
        <a
          class="nav-link"
          href="#"
          id="navbarDropdown"
          role="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          Brands
        </a>
        <ul
          class="dropdown-menu dropdown-menu-dark"
          aria-labelledby="navbarDropdown"
        >
          <li *ngFor="let brand of brands">
            <a
              class="dropdown-item"
              [routerLink]="['/product/brand/', brand.id]"
              >{{ brand.name }}</a
            >
          </li>
        </ul>
      </li>

      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/contact-us']">Contact Us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/aboutus']" aria-current="page"
          >About Us</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/cart']">
          Cart<i class="fa fa-shopping-cart"></i
          ><span
            class="badge badge-warning"
            id="lblCartCount"
            *ngIf="cartCount > 0"
          >
            {{ cartCount }}
          </span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/orders']" *ngIf="isloggedin">
          <i class="fa-solid fa-user"></i>{{ user.firstname }}</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/login']" *ngIf="!isloggedin"
          >Login</a
        >
        <button
          class="nav-link btn btn-danger"
          style="color: white"
          [routerLink]="['/logout']"
          *ngIf="isloggedin"
        >
          Logout
        </button>
      </li>
    </ul>
  </div>
</nav>
