
.title-style{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 700;
    font-size: 20px;
    color: hsl(52, 0%, 98%);
    }
    .title-quote{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 400;
    color: hsl(52, 0%, 98%);
    }