<section class="vh-100">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card shadow-2-strong" style="border-radius: 1rem">
          <div class="card-body p-5 text-center">
            <h1 class="mb-5"><b>Log in</b></h1>
            <form [formGroup]="loginForm" (ngSubmit)="login()">
              <div class="form-outline mb-4">
                <input
                  formControlName="email"
                  required
                  type="email"
                  class="form-control form-control-lg"
                  placeholder="Email"
                />
                <div
                  *ngIf="
                    loginForm.get('email')!.invalid &&
                    loginForm.get('email')!.touched
                  "
                >
                  <div
                    class="alert alert-danger"
                    *ngIf="loginForm.get('email')!.hasError('required')"
                  >
                    Please enter valid Email ID
                  </div>
                </div>
              </div>

              <div class="form-outline mb-4">
                <input
                  formControlName="password"
                  type="password"
                  class="form-control form-control-lg"
                  placeholder="Password"
                />
                <div
                  *ngIf="
                    loginForm.get('password')!.invalid &&
                    loginForm.get('password')!.touched
                  "
                >
                  <div
                    class="alert alert-danger"
                    *ngIf="loginForm.get('password')!.hasError('required')"
                  >
                    Password is required
                  </div>
                </div>
              </div>

              <button
                class="btn btn-primary btn-lg btn-block"
                type="submit"
                [disabled]="loginForm.invalid"
              >
                Login
              </button>
              <hr />

              <span
                >Don't have an account?<a routerLink="/signup">Sign Up</a></span
              >
              <br />
              <span><a routerLink="/forgotPassword">Forgot Password</a></span>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
