<br />
<div class="aboutus">
  <section id="about" class="about">
    <div class="container - fluid" data-aos="fade-up">
      <div class="row gy-4">
        <div
          class="col-lg-6 position-relative align-self-start order-lg-last order-first"
        >
          <img src="assets/img/about.jpg" class="img-fluid" alt="" />
        </div>
        <div class="col-lg-6 content order-last order-lg-first">
          <h3>Who we are ?</h3>
          <p>
            We have created this ecommerce application for people to buy
            smartphones at reasonable prices.
          </p>
          <ul>
            <li data-aos="fade-up" data-aos-delay="100">
              <div>
                <h5>Excellent Products with affordale prices</h5>
                <p>
                  Magni facilis facilis repellendus cum excepturi quaerat
                  praesentium libre trade
                </p>
              </div>
            </li>
            <li data-aos="fade-up" data-aos-delay="200">
              <div>
                <h5>All features of mobiles displayed</h5>
                <p>
                  Quo totam dolorum at pariatur aut distinctio dolorum
                  laudantium illo direna pasata redi
                </p>
              </div>
            </li>
            <li data-aos="fade-up" data-aos-delay="300">
              <div>
                <h5>Fast delivery at your</h5>
                <p>
                  Et velit et eos maiores est tempora et quos dolorem autem
                  tempora incidunt maxime veniam
                </p>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <!-- End About Us Section -->

  <!-- <script src="https://cdn.jsdelivr.net/npm/@srexi/purecounterjs/dist/purecounter_vanilla.js"></script> -->
  <br />
  <!-- ======= Stats Counter Section ======= -->
  <div class="container counter-section" data-aos="fade-up">
    <div class="row text-center">
      <div class="col-md-3 counter-box">
        <i class="fa-solid fa-mobile"></i>
        <p class="counter">{{ productCount }}</p>
        <p>Available Products</p>
      </div>

      <div class="col-md-3 counter-box">
        <i class="fa-solid fa-users"></i>
        <p class="counter">{{ userCount }}</p>
        <p>Users</p>
      </div>

      <div class="col-md-3 counter-box">
        <i class="fa-solid fa-cart-shopping"></i>
        <p class="counter">{{ orderCount }}</p>
        <p>Sales</p>
      </div>

      <div class="col-md-3 counter-box">
        <i class="fa-solid fa-store"></i>
        <p class="counter">{{ vendorCount }}</p>
        <p>Vendors</p>
      </div>
    </div>
  </div>

  <br />

  <div id="carouselExampleControls" class="carousel slide carousel-fade">
    <h3>Our Customers</h3>
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="2000">
        <img
          style="height: 350px"
          src="assets/img/testimonial.jpg"
          class="d-block w-100"
          alt="..."
        />
        <div class="carousel-caption d-none d-md-block">
          <img
            src="assets/img/testimonials-1.jpg"
            class="testimonial-img"
            alt=""
          />
          <h3>Jena Karlis</h3>
          <div class="stars">
            <i class="fa-solid fa-star" style="color: #eade3e"></i>
            <i class="fa-solid fa-star" style="color: #eade3e"></i>
            <i class="fa-solid fa-star" style="color: #eade3e"></i>
            <i class="fa-solid fa-star" style="color: #eade3e"></i>
            <i class="fa-solid fa-star" style="color: #eade3e"></i>
          </div>
          <p>
            <i class="fa-solid fa-quote-left"></i>
            Enim nisi quem export duis labore cillum quae magna enim sint quorum
            nulla quem veniam duis minim tempor labore quem eram duis noster
            aute amet eram fore quis sint minim.
            <i class="fa-solid fa-quote-right"></i>
          </p>
        </div>
      </div>
      <div class="carousel-item" data-bs-interval="2000">
        <img
          style="height: 350px"
          src="assets/img/testimonial.jpg"
          class="d-block w-100"
          alt="..."
        />
        <div class="carousel-caption d-none d-md-block">
          <img
            src="assets/img/testimonials-2.jpg"
            class="testimonial-img"
            alt=""
          />
          <h3>Mary Brandon</h3>
          <div class="stars">
            <i class="fa-solid fa-star" style="color: #eade3e"></i>
            <i class="fa-solid fa-star" style="color: #eade3e"></i>
            <i class="fa-solid fa-star" style="color: #eade3e"></i>
            <i class="fa-solid fa-star" style="color: #eade3e"></i>
            <i class="fa-solid fa-star" style="color: #eade3e"></i>
          </div>
          <p>
            <i class="fa-solid fa-quote-left"></i>
            Fugiat enim eram quae cillum dolore dolor amet nulla culpa multos
            export minim fugiat minim velit minim dolor enim duis veniam ipsum
            anim magna sunt elit fore quem dolore labore illum veniam.
            <i class="fa-solid fa-quote-right"></i>
          </p>
        </div>
      </div>
      <div class="carousel-item" data-bs-interval="2000">
        <img
          style="height: 350px"
          src="assets/img/testimonial.jpg"
          class="d-block w-100"
          alt="..."
        />
        <div class="carousel-caption d-none d-md-block">
          <img
            src="assets/img/testimonials-3.jpg"
            class="testimonial-img"
            alt=""
          />
          <h3>John Larson</h3>
          <div class="stars">
            <i class="fa-solid fa-star" style="color: #eade3e"></i>
            <i class="fa-solid fa-star" style="color: #eade3e"></i>
            <i class="fa-solid fa-star" style="color: #eade3e"></i>
            <i class="fa-solid fa-star" style="color: #eade3e"></i>
            <i class="fa-solid fa-star" style="color: #eade3e"></i>
          </div>
          <p>
            <i class="fa-solid fa-quote-left"></i>
            Quis quorum aliqua sint quem legam fore sunt eram irure aliqua
            veniam tempor noster veniam enim culpa labore duis sunt culpa nulla
            illum cillum fugiat legam esse veniam culpa fore nisi cillum quid.
            <i class="fa-solid fa-quote-right"></i>
          </p>
        </div>
      </div>
    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselExampleControls"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselExampleControls"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
    <br />
  </div>
</div>
<app-footer></app-footer>
